fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
pypdf
docx2txt
sentence-transformers
langchain
langchain-text-splitters
psycopg2-binary
supabase
scholarly
numpy
tqdm
python-multipart
google-generativeai

